<a href="services/<%= service.id%>" class="btn p-0">
  <div class="p-5 dashed-border max-w-22rem">
    <div><%= add_style(service.icon, ' fs-1 gredient-text').html_safe %></div>
    <div class="text-white fw-bold py-3"><%= service.name %> Law</div>
    <div class="text-secondary"><%= service.summary %></div>
  </div>
</a>