<a href="services/<%= service.id%>" class="btn p-0">
  <div class="p-4 dashed-border max-w-22rem h-20rem">
    <div><%= add_style(service.icon, ' service-icon gredient-text').html_safe %></div>
    <div class="text-white fw-bold py-3"><%= service.name %></div>
    <div class="text-secondary"><%= service.summary %></div>
  </div>
</a>