<div style="color: black">
  <!-- Header -->
  <div style="text-align: center">
    <img src="https://res.cloudinary.com/da0ucjlxx/image/upload/v1691611788/Adalat.pk_wrotwb.png" alt="Adalat.pk Logo" style="width: 7vw; height: 7vw;">
  </div>

  <!-- Body -->
  <div>
    <div>
      <div style="padding: 1rem 1rem 1rem 0;">Hi <strong><%= @user.name %> </strong></div>
      <div>
        <span style="color: green; font-size: medium; font-weight: 600;">Congratulations!</span> Your account has been verified, you can visit your profile at 
        <a href="<%= @user_profile%>" target="_blank">Adalat.pk </a>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <div><h3> THANKS FOR USING ADALAT.PK </h3>
</div>