<div>
  <!-- Header -->
  <div style="padding: 1rem 2rem; text-align: center; color: white; font-size: xx-large; font-weight: bolder;
              font-family: none; background: black;">
    Adalat.pk
  </div>

  <!-- Body -->
  <div>
    <div>
      <div style="padding: 1rem 1rem 1rem 0;">Hi <strong><%= @user.name %> </strong></div>
      <div>
        <span style="color: green; font-size: medium; font-weight: 600;">Congratulations!</span> Your account has been verified, you can visit your profile at 
        <a href="<%= @user_profile%>" target="_blank">Adalat.pk </a>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <div><h3> THANKS FOR USING ADALAT.PK </h3>
</div>