<div class="hover-transition">
  <div><%= image_tag user.user_avatar, class: 'size-19rem grayscale' %></div>
  <div class="position-relative bg-white mx-auto text-center p-3 float-div">
    <div class="fw-bold"><%= user.name%></div>
    <div><%= link_to 'Contact Now', user, class: 'gredient-text' %></div>
  </div>
</div>