<div class="page-title">
  <div class="text-white fw-bold h1">Our Amazing Team</div>
  <div class="fw-semibold mt-4">
    <span class="me-2 text-white"><%= link_to 'Home', root_path, class: 'text-decoration-none text-white' %> > </span>
    <span><%= link_to 'Lawyers', users_path, class: 'text-decoration-none gredient-text' %></span>
  </div>
</div>

<div class="text-center my-5">
  <div class="gredient-text font-monospace">Team</div>
  <div class="fw-bold h2 d-flex justify-content-center">
    <div class="w-30rem p-1">You will entroduce with our expert team <span class="gredient-text"> members</span></div>
  </div>
  <div class="gredient-border"></div>
</div>

<div class="row mx-0">
  <div class="col-md-4">
    <h3>Filters</h3>
  </div>
  <div class="col-md-8">
    <div class="mx-lg-5 mx-2">
      <%= render  @users %>
    </div>
  </div>
</div>