<div class="position-fixed chat-link d-flex">
  <a href="https://wa.me/+92-3000730531" target="_blank">
    <i class="bi bi-whatsapp fs-1 text-white px-2 py-1 rounded-2"></i>
  </a>
</div>
<div class="position-fixed call-link d-flex">
  <a href="tel:+92 306-1656352" target="_blank">
    <i class="bi bi-telephone fs-1 text-white px-2 py-1 rounded-2"></i>
  </a>
</div>