<div class="page-title">
  <div class="text-white fw-bold h1"><%= title %></div>
  <div class="fw-semibold mt-4">
    <span class="text-white me-2"><%= primary_link %> > </span>
    <span class="gredient-text"><%= other_links %></span>
  </div>
</div>