<div class="px-10vw about mt-2">
  <div class="fw-light fs-14px">About us</div>
  <div class='gredient-line mb-4'><span></span></div>
  <div class="row">
    <div class="col-md-6">
      <div class="fw-bolder h1">We are here to manage your law with <span class="text-gold">experience</span></div>
      <div class="fw-light">
        With a deep understanding of <span class="fw-semibold text-success">Pakistan</span>'s legal landscape, we offer strategic counsel and representation, 
        ensuring your legal needs are met with professionalism and integrity.
      </div>
      <div class="fw-light my-3">
        Whether it's corporate law, family law, or criminal defense, our dedicated team of lawyers is committed 
        to protecting your interests and achieving favorable outcomes.
        <%= link_to 'explore more services', services_path, class: 'text-gold'%>
      </div>
      <div>
        <span class="fs-14px fw-semibold">Call to ask any question </span>
        <span class="fw-bolder h5"><a href="tel:+92 306-1656352" class="text-decoration-none text-gold">+92 306-1656352</a></span>
        <span class="fw-light text-secondary">or</span> 
        <span class="fw-bolder h5"><a href="tel:+92 300-0730531" class="text-decoration-none text-gold">+92 300-0730531</a></span>
      </div>
    </div>
    <div class="col-md-6 p-1">
      <%= image_tag 'slider1.jpg', class: 'rounded-5 w-100 shadow-lg h-fill-available' %>
    </div>
  </div>

  <div class="row my-5 justify-content-between">
    <div class="col-md-6 pt-2 d-flex">
      <div class="pe-5">
        <%= image_tag 'signature.png'%>
      </div>
      <div>
        <div class="fw-semibold">Advocate Imran Zulfiqar</div>
        <div class="fw-light text-secondary">(Chairman and founder)</div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="d-flex justify-content-around">
        <div class="text-center p-3">
          <div class="fw-bolder font-monospace h2 gredient-text">16+</div>
          <div class="fw-semibold">Team Members</div>
        </div>
        <div class="text-center p-3">
          <div class="fw-bolder font-monospace h2 gredient-text"> +2344</div>
          <div class="fw-semibold">Completed Works</div>
        </div>
        <div class="text-center p-3">
          <div class="fw-bolder font-monospace h2 gredient-text">2344</div>
          <div class="fw-semibold">Satisfied Clients</div>
        </div>
      </div>
    </div>
  </div>
</div>
