<div class="flex-d text-center journey mb-5">
  <div class='year'>
    <div class="fw-semibold">2020</div>
    <div class="dot d-inline-block rounded-5 mt-2"></div>
    <div class="fw-bold mb-3">Started Journey</div>
    <div class="mx-3 fs-14px fw-light">A promising beginning as we set out on our legal journey, dedicated to providing exceptional services and building a trusted law-firm</div>
  </div>
  <div class='year'>
    <div class="fw-semibold">2021</div>
    <div class="dot d-inline-block rounded-5 mt-2"></div>
    <div class="fw-bold mb-3">Empowered Legal Advocacy</div>
    <div class="mx-3 fs-14px fw-light">Empowering lawyers with knowledge and passion, advocating for justice, and making a positive impact within the legal community</div>
  </div>
  <div class='year'>
    <div class="fw-semibold">2022</div>
    <div class="dot d-inline-block rounded-5 mt-2"></div>
    <div class="fw-bold mb-3">Expanded Horizons</div>
    <div class="mx-3 fs-14px fw-light">Breaking barriers and venturing into new legal territories, offering comprehensive solutions to meet diverse client needs</div>
  </div>
  <div class='year'>
    <div class="fw-semibold">2023</div>
    <div class="dot d-inline-block rounded-5 mt-2"></div>
    <div class="fw-bold mb-3">Inspired Client Success</div>
    <div class="mx-3 fs-14px fw-light">Fueled by client successes and stories, we continue to strive for excellence, earning trust through unwavering commitment to our clients</div>
  </div>
</div>