<div class="d-flex text-center journey mb-5">
  <div class='year'>
    <div class="fw-semibold">2016</div>
    <div class="dot d-inline-block rounded-5 mt-2"></div>
    <div class="fw-bold">Started Journey</div>
    <div class="mx-3 fs-14px fw-light">Forging relationships between multi to national corporations, governments and global NGOs begins.</div>
  </div>
  <div class='year'>
    <div class="fw-semibold">2016</div>
    <div class="dot d-inline-block rounded-5 mt-2"></div>
    <div class="fw-bold">Started Journey</div>
    <div class="mx-3 fs-14px fw-light">Forging relationships between multi to national corporations, governments and global NGOs begins.</div>
  </div>
  <div class='year'>
    <div class="fw-semibold">2016</div>
    <div class="dot d-inline-block rounded-5 mt-2"></div>
    <div class="fw-bold">Started Journey</div>
    <div class="mx-3 fs-14px fw-light">Forging relationships between multi to national corporations, governments and global NGOs begins.</div>
  </div>
  <div class='year'>
    <div class="fw-semibold">2016</div>
    <div class="dot d-inline-block rounded-5 mt-2"></div>
    <div class="fw-bold">Started Journey</div>
    <div class="mx-3 fs-14px fw-light">Forging relationships between multi to national corporations, governments and global NGOs begins.</div>
  </div>
</div>