<div class="bg-img">
  <div class="px-10vw text-center py-5 mb-5 transparent-bg2"> 
    <div class="gredient-text font-monospace">Services</div>
    <div class="d-flex justify-content-center my-3">
      <div class="fw-bold text-white w-33rem h2">We are here to fight against any violance with 
      <span class="gredient-text">experience</span></div>
    </div>
    <div class="gredient-border"></div>

    <div class="text-end mb-5">
      <%= link_to '<i class="bi bi-arrow-right"></i> view all'.html_safe, services_path, class: 'text-decoration-none text-secondary' %>
    </div>

    <div class="flex-d">
      <%= render @services %>
    </div>
  </div>
</div>