<div class="bg-img about">
  <div class="px-10vw py-5 mb-5 transparent-bg2"> 
    <div class="gredient-text font-monospace mb-2">Team member</div>
    <div class='gredient-line mb-4'><span></span></div>
    <div class="row my-3">
      <div class="col-md fw-bold text-white h2">
        <div class="fw-bold text-white h1">We feel very proud for our <span class="gredient-text">experts</span></div>
      </div>
      <div class="col-md text-secondary">
        <div>Meet the faces behind our firm, a team of skilled attorneys ready to tackle your 
              legal challenges with determination and expertise.
        </div>
        <div>
          We believe in continuous growth and professional development, ensuring that our team stays at the 
          forefront of legal trends and best practices.
        </div>
      </div>
    </div>

    <div class="text-end">
      <%= link_to '<i class="bi bi-arrow-right"></i> view all'.html_safe, root_path, class: 'text-decoration-none text-secondary' %>
    </div>

    <div class="flex-d mt-5">
      <%= render @users %>
    </div>
  </div>
</div>