<div class="container-fluid px-10vw position-relative top-74px">
  <div class="row">
    <div class="col-md shadow p-5 bg-white ">
      <div class="d-flex">
        <i class="bi bi-telephone-plus fs-2 me-4 text-gold gold-shadow"></i>
        <div>
          <div class="text-secondary">Need help?</div>
          <div class="fw-bolder fs-2">Consult now</div>
        </div>
      </div>
    </div>
    <div class="col-md shadow p-5 bg-black text-white">
      <div class="d-flex">
        <i class="bi bi-link-45deg fs-large me-4 text-gold gold-shadow"></i>
        <div>
          <div class="text-secondary">Join us</div>
          <div class="fw-bolder fs-2">As a lawyer</div>
        </div>
      </div>
    </div>
    <div class="col-md shadow p-5 bg-white">
      <div class="d-flex">
        <i class="bi bi-receipt-cutoff fs-2 me-4 text-gold gold-shadow"></i>
        <div>
          <div class="text-secondary">Explore more</div>
          <div class="fw-bolder fs-2">Services</div>
        </div>
      </div>
    </div>
  </div>
</div>