<div class="container-fluid px-10vw position-relative top-74px">
  <div class="row">
    <a href="/contact" class="col-md shadow p-5 bg-white hover hover-eff btn rounded-0">
      <div class="d-flex">
        <i class="bi bi-telephone-plus fs-2 me-4 text-gold gold-shadow"></i>
        <div>
          <div class="text-secondary">Need help?</div>
          <div class="fw-bolder fs-2 eff-child">Consult now</div>
        </div>
      </div>
    </a>
    <a href="/users/sign_up" class="col-md shadow p-5 bg-black text-white btn rounded-0">
      <div class="d-flex">
        <i class="bi bi-link-45deg fs-1 me-4 text-gold gold-shadow"></i>
        <div>
          <div class="text-secondary">Join us</div>
          <div class="fw-bolder fs-2">As a lawyer</div>
        </div>
      </div>
    </a>
    <a href="/services" class="col-md shadow p-5 bg-white hover-eff btn rounded-0">
      <div class="d-flex">
        <i class="bi bi-receipt-cutoff fs-2 me-4 text-gold gold-shadow"></i>
        <div>
          <div class="text-secondary">Explore more</div>
          <div class="fw-bolder fs-2 eff-child">Services</div>
        </div>
      </div>
    </a>
  </div>
</div>
