<div class="container-fluid mx-lg-5 px-lg-5 position-relative top-74px">
  <div class="row mx-lg-5 px-lg-5">
    <div class="col-md shadow p-5 bg-white ">
      <div class="d-flex">
        <i class="bi bi-calendar4-week fs-2 me-4 text-gold gold-shadow"></i>
        <div>
          <div class="text-secondary">Book an</div>
          <div class="fw-bolder fs-2">Appointment</div>
        </div>
      </div>
    </div>
    <div class="col-md shadow p-5 bg-black text-white">
      <div class="d-flex">
        <i class="bi bi-link-45deg fs-large me-4 text-gold gold-shadow"></i>
        <div>
          <div class="text-secondary">Join us</div>
          <div class="fw-bolder fs-2">As a lawyer</div>
        </div>
      </div>
    </div>
    <div class="col-md shadow p-5 bg-white">
      <div class="d-flex">
        <i class="bi bi-receipt-cutoff fs-2 me-4 text-gold gold-shadow"></i>
        <div>
          <div class="text-secondary">Explore</div>
          <div class="fw-bolder fs-2">Services</div>
        </div>
      </div>
    </div>
  </div>
</div>