<div class="page-title mb-5">
  <div class="text-white fw-bold h1">Contact Us</div>
  <div class="fw-semibold mt-4">
    <span class="me-2 text-white"><%= link_to 'Home', root_path, class: 'text-decoration-none text-white' %> > </span>
    <span class="gredient-text">contact </span>
  </div>
</div>

<%= render 'pages/home_partials/contact_us'%>