<div>
  <%= render 'pages/home_partials/carosal' %>
  <%= render 'pages/home_partials/testimonials' %>
  <%= render 'pages/home_partials/about_us' %>
  <%= render 'pages/home_partials/journey' %>
</div>