<div style="color: black">
  <!-- Header -->
  <div style="text-align: center">
    <img src="https://res.cloudinary.com/da0ucjlxx/image/upload/v1691611788/Adalat.pk_wrotwb.png" alt="Adalat.pk Logo" style="width: 7vw; height: 7vw;">
  </div>

  <!-- Body -->
  <div>
    <div>
      <div style="padding: 1rem 1rem 1rem 0">Hi <strong><%= @admin.name %> </strong></div>
      <div>
        A user:  
        <strong><%= @user.name%></strong> has created an account on Adalat.pk
        Please have a look at his <a href="<%= @user_profile%>" target="_blank">Profile. </a>
        <p>If everything is looking fine, Please mark user as 
          <a href="<%= @verify_url%>" target="_blank"> Verified Lawyer</a>
        </p>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <div><h3> THANKS FOR USING ADALAT.PK </h3>
</div>