<div>
  <!-- Header -->
  <div style="padding: 1rem 2rem; text-align: center; color: white; font-size: xx-large; font-weight: bolder;
              font-family: none; background: black;">
    Law Firm
  </div>

  <!-- Body -->
  <div>
    <div>
      <div style="padding: 1rem 1rem 1rem 0">Hi <strong><%= @admin.full_name %> </strong></div>
      <div>
        A user:  
        <strong><%= @user.full_name%></strong> has created an account on Law Firm.
        Please have a look at his <a href="<%= @user_profile%>" target="_blank">Profile</a>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <div><h3> THANKS FOR USING Law Firm!</h3>
</div>