div.register {
  font-size: 0.880rem;
  font-weight: 500;
  background-color: white;

  form {
    width: 100%;
  }
}

.max-form-width {
  max-width: 28rem;
}

.max-extended-form-width {
  max-width: 56rem;
}