div.register {
  font-size: 0.880rem;
  font-weight: 500;
  background-color: white;
  box-shadow: 0 4px 10px #00000040;

  form {
    width: 100%;
  }
}

.max-form-width {
  max-width: 28rem;
}

.max-extended-form-width {
  max-width: 56rem;
}

.page-title {
  padding: 208px 0 99px;
  background-color: #d5aa6d;
  background-image: url(/assets/slider1.jpg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
}