div.register {
  font-size: 0.880rem;
  font-weight: 500;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-color: white;

  form {
    width: 100%;
  }
}

.max-form-width {
  max-width: 28rem;
}