.home-div {
  font-size: 0.880rem;
  padding: 4rem 8vw; 
}

.nav-avatar {
  width: 2.6rem;
  height: 2.6rem;
}

.user-profile-pic {
  width: 15rem;
  max-height: 15rem;
  max-width: 100%;
}

.w-fill-available {
  width: -webkit-fill-available;
}

.hover-pad:hover {
  padding-left: 0.6rem;
  
  a {
    color: #B68A56 !important;
  }

  div {
    color: #dbae6e !important;
  }
}

.hover-pad {
  transition: padding 0.8s ease;
}

.hover-animation {
  transition: padding 0.8s ease;
}

.hover-animation:hover {
  padding-left: 0.5rem;
}

.width-25rem {
  width: 25rem;
}

.fs-14px {
  font-size: 14px;
}

.ws-normal {
  white-space: normal;
}

.gredient-background {
  background: linear-gradient(to right, #141010 0%, #393e46 100%);
}

.header {
  background-color: initial;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 999;
}

.w-45rem {
  width: 45rem;
}

.w-33rem {
  width: 33rem;
}

.text-gold {
  color: #D2A66B;
}
         
.btn-gold {
  background-image: linear-gradient(to right, #D3A86C 0%, #B98D59  51%, #9D7147  100%);
  transition: 0.5s;
  box-shadow: 0 0 10px #eee;
}

.btn-gold:hover {
  background-image: linear-gradient(to right, #9D7147 0%, #B98D59  51%, #D3A86C  100%);
}

.carousel-1 {
  position: absolute;
  bottom: calc(100vw * 0.08);
  left: 15%;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: #fff;
}

.carousel-2 {
  position: absolute;
  bottom: calc(100vw * 0.08);
  right: 9%;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: #fff;
  text-align: right;
}

.carousel-3 {
  position: absolute;
  bottom: calc(100vw * 0.08);
  right: 15%;
  left: 15%;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: #fff;
  text-align: right;
}

.fs-large {
  font-size: 3.5rem;
}

.transparent-bg {
  background-color: rgba(0, 0, 0, 0.5);
}

.top-74px {
  top: -74px;
}

.gold-shadow {
  text-shadow: 2px 2px 5px #D2A66B;
}

.journey {
  margin-left: 7.5rem;
  margin-right: 7.5rem;
  color: #9d9a9a;
}

.journey::after {
  content: '';
  position: absolute;
  z-index: -1;
  height: 4px;
  background-color: #e1e1e1;
  width: 100%;
  margin-top: 40px;
  left: 0;
  right: 0;
}

.journey > .year:hover {
  color: black;

  .dot {
    background-image: linear-gradient(to right, #D3A86C 0%, #B98D59  51%, #9D7147  100%);
  }
} 

.dot {
  height: 20px;
  width: 20px;
  background-color: #bbb;
}