@media only screen and (max-width: 600px) {
  .user-profile {
    flex-direction: column-reverse;
  } 

  .user-profile-pic {
    margin-top: 1rem;
  }

  .register {
    box-shadow: none !important;
  }
}

@media only screen and (max-width: 767px) {
  .top-74px {
    top: 0;
  }
}