.user-profile {
  font-size: 0.880rem;
}

.user-info-card {
  height: 15rem;
  width: 21rem;
  min-width: -webkit-fill-available;
  max-width: -webkit-fill-available;
}

.s-10rem {
  height: 10rem;
  width: 10rem;
}

.w-15rem {
  width: 15rem;
}