<div>
  <!-- Header -->
  <div style="padding: 1rem 2rem; text-align: center; color: white; font-size: xx-large; font-weight: bolder;
              font-family: none; background: black;">
    Adalat.pk
  </div>

  <!-- Body -->
  <div>
    <div>
      <div style="padding: 1rem 1rem 1rem 0">Hello <strong><%= @resource.name %> </strong></div>
      <div>
        <p>Someone has requested a link to change your password. You can do this through the link below.</p>
        <p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token),
               :style=> 'color:#FFFFFF; padding:8px; text-decoration:none; background:green;' %></p>
        <p>If you didn't request this, please ignore this email.</p>
        <p>Your password won't change until you access the link above and create a new one.</p>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <div><h3> THANKS FOR USING ADALAT.PK </h3>
</div>
